.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(4 43 72 / 75%);
}

td>a{
text-decoration: none;
}

.header p{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: fantasy;
}

div .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: rgb(10, 10, 10, .5);
    border-color: rgb(10, 10, 10, .5);
}

@media screen and (max-width: 760px){
    
}